---
import MobileMenuFooter from './MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import MobileMenuTop from './MobileMenuTop.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<div class="lg:sl-hidden">
  <MobileMenuTop />
</div>

<SidebarPersister>
  <SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="lg:sl-hidden">
  <MobileMenuFooter />
</div>
